In [1]:
import mysql.connector
from mysql.connector import Error
import pandas as pd

In [6]:
def create_server_connection(host_name, user_name, user_password, db_name):
    connection = None
    try:
        connection = mysql.connector.connect(
            host=host_name,
            user=user_name,
            passwd=user_password,
            database = db_name
        )
        print("MySQL Database connection successful")
    except Error as err:
        print(f"Error: '{err}'")

    return connection

In [37]:
connection = create_server_connection('localhost', 'root', "", 'employees')

MySQL Database connection successful

In [12]:
def read_query(connection, query):
    cursor = connection.cursor()
    result = None
    try:
        cursor.execute(query)
        result = cursor.fetchall()
        return result
    except Error as err:
        print(f"Error: '{err}'")

In [41]:
q1 = """
SELECT * 
FROM dept_manager
ORDER BY dept_no;
"""

In [42]:
results = read_query(connection, q1)

In [43]:
for result in results:
    print(result)

(110039, 'd001', datetime.date(1991, 10, 1), datetime.date(9999, 1, 1))
(110022, 'd001', datetime.date(1985, 1, 1), datetime.date(1991, 10, 1))
(110085, 'd002', datetime.date(1985, 1, 1), datetime.date(1989, 12, 17))
(110114, 'd002', datetime.date(1989, 12, 17), datetime.date(9999, 1, 1))
(110183, 'd003', datetime.date(1985, 1, 1), datetime.date(1992, 3, 21))
(110228, 'd003', datetime.date(1992, 3, 21), datetime.date(9999, 1, 1))
(110303, 'd004', datetime.date(1985, 1, 1), datetime.date(1988, 9, 9))
(110344, 'd004', datetime.date(1988, 9, 9), datetime.date(1992, 8, 2))
(110386, 'd004', datetime.date(1992, 8, 2), datetime.date(1996, 8, 30))
(110420, 'd004', datetime.date(1996, 8, 30), datetime.date(9999, 1, 1))
(110511, 'd005', datetime.date(1985, 1, 1), datetime.date(1992, 4, 25))
(110567, 'd005', datetime.date(1992, 4, 25), datetime.date(9999, 1, 1))
(110725, 'd006', datetime.date(1985, 1, 1), datetime.date(1989, 5, 6))
(110854, 'd006', datetime.date(1994, 6, 28), datetime.date(9999, 1, 1))
(110800, 'd006', datetime.date(1991, 9, 12), datetime.date(1994, 6, 28))
(110765, 'd006', datetime.date(1989, 5, 6), datetime.date(1991, 9, 12))
(111035, 'd007', datetime.date(1985, 1, 1), datetime.date(1991, 3, 7))
(111133, 'd007', datetime.date(1991, 3, 7), datetime.date(9999, 1, 1))
(111400, 'd008', datetime.date(1985, 1, 1), datetime.date(1991, 4, 8))
(111534, 'd008', datetime.date(1991, 4, 8), datetime.date(9999, 1, 1))
(111692, 'd009', datetime.date(1985, 1, 1), datetime.date(1988, 10, 17))
(111784, 'd009', datetime.date(1988, 10, 17), datetime.date(1992, 9, 8))
(111877, 'd009', datetime.date(1992, 9, 8), datetime.date(1996, 1, 3))
(111939, 'd009', datetime.date(1996, 1, 3), datetime.date(9999, 1, 1))

In [22]:
q2 = """
SELECT
    *
FROM
    employees
LIMIT 10;
"""

In [23]:
results = read_query(connection, q2)

In [24]:
for result in results:
    print(result)

(10001, datetime.date(1953, 9, 2), 'Georgi', 'Facello', 'M', datetime.date(1986, 6, 26))
(10002, datetime.date(1964, 6, 2), 'Bezalel', 'Simmel', 'F', datetime.date(1985, 11, 21))
(10003, datetime.date(1959, 12, 3), 'Parto', 'Bamford', 'M', datetime.date(1986, 8, 28))
(10004, datetime.date(1954, 5, 1), 'Chirstian', 'Koblick', 'M', datetime.date(1986, 12, 1))
(10005, datetime.date(1955, 1, 21), 'Kyoichi', 'Maliniak', 'M', datetime.date(1989, 9, 12))
(10006, datetime.date(1953, 4, 20), 'Anneke', 'Preusig', 'F', datetime.date(1989, 6, 2))
(10007, datetime.date(1957, 5, 23), 'Tzvetan', 'Zielinski', 'F', datetime.date(1989, 2, 10))
(10008, datetime.date(1958, 2, 19), 'Saniya', 'Kalloufi', 'M', datetime.date(1994, 9, 15))
(10009, datetime.date(1952, 4, 19), 'Sumant', 'Peac', 'F', datetime.date(1985, 2, 18))
(10010, datetime.date(1963, 6, 1), 'Duangkaew', 'Piveteau', 'F', datetime.date(1989, 8, 24))

In [26]:
def execute_query(connection, query):
    cursor = connection.cursor()
    try:
        cursor.execute(query)
        connection.commit()
        print("Query successful")
    except Error as err:
        print(f"Error: '{err}'")

In [34]:
drop_exists = """
DROP TABLE IF EXISTS dept_manager_dup;
"""

In [35]:
create_table = """
CREATE TABLE dept_manager_dup (
    emp_no INT(11) NOT NULL,
    dept_no CHAR(4),
    from_date DATE NOT NULL,
    to_date DATE
);
"""

In [38]:
execute_query(connection, drop_exists)
execute_query(connection, create_table)

Query successful
Query successful

In [39]:
copy_from_dept_manager = """
INSERT INTO dept_manager_dup
SELECT 
    * 
FROM dept_manager
WHERE dept_no < 'd006';
"""

In [40]:
execute_query(connection, copy_from_dept_manager)

Query successful

In [44]:
q3 = """
SELECT * 
FROM dept_manager_dup
ORDER BY dept_no;
"""

In [45]:
results = read_query(connection, q3)
for result in results:
    print(result)

(110022, 'd001', datetime.date(1985, 1, 1), datetime.date(1991, 10, 1))
(110039, 'd001', datetime.date(1991, 10, 1), datetime.date(9999, 1, 1))
(110085, 'd002', datetime.date(1985, 1, 1), datetime.date(1989, 12, 17))
(110114, 'd002', datetime.date(1989, 12, 17), datetime.date(9999, 1, 1))
(110183, 'd003', datetime.date(1985, 1, 1), datetime.date(1992, 3, 21))
(110228, 'd003', datetime.date(1992, 3, 21), datetime.date(9999, 1, 1))
(110303, 'd004', datetime.date(1985, 1, 1), datetime.date(1988, 9, 9))
(110344, 'd004', datetime.date(1988, 9, 9), datetime.date(1992, 8, 2))
(110386, 'd004', datetime.date(1992, 8, 2), datetime.date(1996, 8, 30))
(110420, 'd004', datetime.date(1996, 8, 30), datetime.date(9999, 1, 1))
(110511, 'd005', datetime.date(1985, 1, 1), datetime.date(1992, 4, 25))
(110567, 'd005', datetime.date(1992, 4, 25), datetime.date(9999, 1, 1))